@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Passion+One:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom,
      #3F271A 0px,
      #3F271A 500px,
      #8AC76D 100%);
  font-family: 'Comfortaa', cursive;
  color: #2b2b2b;
  min-height: 100vh;

}

header {
  position: relative;
  align-items: center;
  padding: 2rem 4rem 6rem 4rem;
  background-image: url('./MLL9xUy.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  color: snow;
  text-align: left;
  min-height: 200px;
}

.header__title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: snow;
  font-size: 5rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.847);


}

img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 20px;
}

main {
  height: 100vh;

}

.contenedor-tarjetas {
  /* max-width: 1400px; */
  height: auto;
  /* margin: 0 auto; */
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.tarjeta {
  width: 25%;
  min-width: 300px;
  max-height: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #F2C335;
  overflow: hidden;
  justify-content: space-around;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}



.flex {
  display: flex;
  margin: 10px 0;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  justify-self: center;
}

label {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(45, 44, 44);
  align-content: center;
}



p {

  align-content: center;
}

.status {
  display: flex;
  align-items: center;
}

i {
  vertical-align: middle;
}

.alive {
  font-size: 8px;
  color: #86A641;
}

.dead {
  font-size: 8px;
  color: #D9653B;
}

.unknown {
  font-size: 8px;
  color: gray;
}

.pie {

  display: grid;
  place-items: center;
  font-size: 1.2rem;
  text-align: center;
  color: snow;
  background-color: #2d7336;
  padding: 50px;
}



/* Decoración arriba del footer */
.contenedor-tarjetas::after {
  content: "";
  position: absolute;
  bottom: 0;
  /* ajustá según el tamaño del decorativo */
  right: 0;
  width: 11px;
  height: 11px;
  background-image: url('pie.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
  transform: scale(1);
  opacity: 0;
  /* animation: expandirDecoracion 3s ease-in-out forwards; */
  transform-origin: bottom right;
  
  /* transition: transform 3s cubic-bezier(0.2, 0.8, 0.2, 1), opacity 3s ease-in-out; */
  /* Transición lenta por defecto (salida) */
  transition: transform 4s ease-in, opacity 2s ease-in;
}


/* Hover en el main afecta al ::after */
main:hover::after {
  transform: scale(20);
  opacity: 1;
transition: transform 5s cubic-bezier(0.1, 0.8, 0.2, 0.9), opacity 5s ease-in-out;

 /*  filter: drop-shadow(0 0 10px rgb(255, 255, 255)); */
}


@keyframes expandirDecoracion {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    transform: scale(20);
    opacity: 1;
  }
}